<div id="board-container">
  <%
  fen = game.fen
  board_size = game.board_size
  squares = fen.to_squares
  current_team = current_user.team(game)
  current_color = game.current_color
  user_color = current_user.color(game)
  %>
  <%= current_team %>
  <div id="game-board"
       data-controller="game"
       data-game-board-size-value="<%= board_size %>"
       data-game-game-id-value="<%= game.id %>"
       data-game-current-color-value="<%= current_color %>"
  >
    <div id="board" class="board-<%= board_size %>">
      <% board_size.times do |rendered_y| %>
        <%
        y = {
          TOP => (board_size - 1) - rendered_y,
          BOTTOM => rendered_y,
        }[current_team] || rendered_y
        %>

        <% board_size.times do |rendered_x| %>
          <%
          x = {
            WHITE => rendered_x,
            BLACK => (board_size - 1) - rendered_x,
          }[user_color] || rendered_x
          span_class = "#{y%2 == x%2 ? 'light' : 'dark'}"
          team, color, piece_kind = fen.get_piece(squares[y][x])
          %>

          <%
          if color
            image_class = if team == current_team
              if color == current_color
                "current-player"
              else
                {
                  1 => "current-player",
                  2 => "current-teammate",
                }[game.pairs.count] || raise(Game::NotSupportedYet, "invalid pair count #{game.pairs.count}")
              end
            else
              "enemy"
            end
          end
          %>

          <span class="square square-<%= "#{x}-#{y}" %> <%= span_class %>"
                data-action="click->game#selectSquare"
                data-color="<%= color %>"
                data-piece-kind="<%= piece_kind %>"
                data-image-class="<%= image_class %>"
                data-square-x="<%= x %>"
                data-square-y="<%= y %>"
          >
            <% if color %>
              <%= image_tag("#{color}-#{piece_kind}.png",
                            class: "piece piece-#{x}-#{y} #{image_class}",
              ) %>
            <% end %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
