<div id="board-container">
  <%
  fen = game.fen
  board_size = game.board_size
  squares = fen.to_squares
  reflect_x, reflect_y = get_reflection(game, player)
  current_team = player.team(game)
  current_color = game.current_color
  player_count = game.players.count
  pending_moves_by_src = {}
  game.current_moves(player).each do |move|
    pending_moves_by_src[move.src] = move
  end
  %>
  <%= turbo_frame_tag "game-#{game.id}-board" do %>
    <%= form_with url: moves_path, data: {
      controller: 'game',
      game_board_size_value: board_size,
      game_game_id_value: game.id,
      game_current_color_value: current_color,
    } do |form| %>
      <div id="board" class="board-<%= board_size %>">
        <% board_size.times do |rendered_y| %>
          <% y = if reflect_y then (board_size - 1) - rendered_y else rendered_y end %>

          <% board_size.times do |rendered_x| %>
            <%
            x = if reflect_x then (board_size - 1) - rendered_x else rendered_x end
            span_class = "#{y%2 == x%2 ? 'light' : 'dark'}"
            team, color, piece_kind = fen.get_piece(squares[y][x])
            %>

            <%
            # TODO when viewing a game as a non-player, all pieces look like enemies
            if color
              image_class = if team == current_team
              if color == current_color
                "current-player"
              else
                {
                  2 => "current-player",
                  4 => "current-teammate",
                }[player_count] || raise(Game::NotSupportedYet, "invalid player count #{game.players.count}")
              end
            else
              "enemy"
            end
            end
            %>
            <% idx = game.xy_to_idx(x, y) %>

            <span class="square square-<%= "#{x}-#{y}" %> <%= span_class %>"
                  data-action="click->game#selectSquare"
                  data-color="<%= color %>"
                  data-piece-kind="<%= piece_kind %>"
                  data-image-class="<%= image_class %>"
                  data-square-x="<%= x %>"
                  data-square-y="<%= y %>"
                  data-square-idx="<%= idx %>"
            >
              <% if Rails.env.development? %>
                <% style = if pending_moves_by_src[idx] then "color: red" else "" end %>
                <div class="square-idx" style="<%= style %>">
                  <%= idx %>
                </div>
              <% end %>
              <% if color %>
                <% image_src = "#{if image_class == 'enemy' then 'enemy-' end}#{color}-#{piece_kind}.png" %>
                <%= image_tag(image_src, class: "piece piece-#{x}-#{y} #{image_class}") %>
              <% end %>
            </span>
          <% end %>
        <% end %>
      </div>

      <%= form.hidden_field "move[game_id]", value: game.id %>
      <%= form.hidden_field "move[color]", value: current_color %>
      <%= form.hidden_field "move[src_idx]", id: "src-idx-input" %>
      <%= form.hidden_field "move[dest_idx]", id: "dest-idx-input" %>

      <%= form.submit %>
    <% end %>
  <% end %>
</div>
