<div id="game-moves">
  <% if move_steps %>
    <div data-controller="moves"
         data-moves-move-steps-value="<%= move_steps.to_json %>"
         data-moves-unmoving-pieces-value="<%= unmoving_pieces.to_json %>"
         data-moves-reflect-x-value="<%= reflect_x %>"
         data-moves-reflect-y-value="<%= reflect_y %>"
         data-moves-board-size-value="<%= board_size %>"
    >
    </div>
  <% end %>
</div>
