<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
<p>welcome <%= current_user&.username %></p>
