<h2><%= t(".title") %></h2>

<div id="play-game">
  <div id="create-new-game">
    <%= form_with(model: Game.new) do |form| %>
      <div>
        <div>
          <div>Number of players:</div>
          <% Game.valid_form_options[:number_of_players].each do |number| %>
            <%= form.radio_button(:number_of_players, number) %>
            <%= form.label(:"number_of_players_#{number}", "#{number} players") %>
          <% end %>
        </div>

        <div>
          <div>Board size:</div>
          <% Game.valid_form_options[:board_size].each do |size| %>
            <%= form.radio_button(:board_size, size) %>
            <%= form.label(:"board_size_#{size}", "#{size}x#{size}") %>
          <% end %>
        </div>

        <div>
          <div>Turn duration:</div>
          <% Game.valid_form_options[:turn_duration].each do |duration| %>
            <%= form.radio_button(:turn_duration, duration) %>
            <%= form.label(:"turn_duration_#{duration}", "#{duration} seconds") %>
          <% end %>
        </div>

        <div>
          <div>Play as:</div>
          <% Game.valid_form_options[:play_as].each do |color| %>
            <%= form.radio_button(:play_as, color) %>
            <%= form.label(:"play_as_#{color}", color) %>
          <% end %>
        </div>
      </div>

      <div class="submit-field">
        <%= form.submit "Start New Game" %>
      </div>
    <% end %>
  </div>

  <div id="existing-games">
    <ul>
      <% @games.each do |game| %>
        <li><%= "#{game.pairs.count * 2} players, #{game.board_size}x#{game.board_size}, #{game.turn_duration} seconds" %></li>
      <% end %>
    </ul>
  </div>
</div>
