<!DOCTYPE html>
<html>
  <head>
    <title>Pear Chess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag("application", "data-turbo-track": "reload") %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="app" data-environment="<%= Rails.env %>"></div>
    <div id="header">
      <div id="logo">
        <%= link_to(image_tag("logo"), "/") %>
      </div>

      <div id="login-status">
        <% if signed_in? %>
          Signed in as: <%= current_user.username %>
          <%= button_to(t('.header.sign_out'), sign_out_path, { method: :delete }) %>
        <% else %>
          <% if !@signing_in %>
            <%= link_to(t('.header.sign_in'), sign_in_path) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="content-container">
      <div id="flash">
        <% flash.each do |type, message| %>
          <div class="flash <%= type %>">
            <% if message.start_with?("flash.") %>
              <%= t(".#{message}") %>
            <% else %>
              <%= message %>
            <% end %>
          </div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
